<!-- <footer id="footer" class="pb-4 pt-4" style="background-color:rgb(112, 141, 196); ">
    <div class="container text-center mt-2">
        
    </div>
</footer>
 -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer" style="text-align: center;">
    © 2022 Derechos Reservados  Por Pamela Guananga 
</footer>
<!-- ============================================================== -->
<!-- End footer -->